body {
	height: 100%;
	background: #3f1b87;
}
nav{
	color: white;
}
nav:hover{
	background: rgba(255, 255, 255, 0.3);
	transition: 1s;
}
#home {
	color: white;
	padding-top: 50px;
	
}
#home input{
	border-radius: 8px 0 0 8px;
	border-color: transparent;
}
.login{
	align-content: center;
	margin-top: 10px;
	padding: 3px 0px;
}
#cadastre{
        margin-top: 0px;
		background-color: #3f1b87;
		color: white;
}
.conteudo{
	background-color: #fFF;
	padding:60px 0px;
	border-bottom: 1px solid rgba(170, 155, 170, 0.333);
}
footer{
	align-self: center;
}
.footer{
	
	height: 80px;
	bottom: 0;
	width: 100%;
}
.footer p a{
	margin:5px 15px;
}